<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />

</head>
<body>

	<div th:fragment="citaAgregar">


		<div class="container-fluid">
			<div class="row">


				<div class="col-md-8">
					<h3 style="">
						<strong>Control de citas </strong>
					</h3>
					<br></br>
					<!--Table-->
					<table class="table table-responsive-md">

						<!--Table head-->
						<thead class="cyan lighten-3">
							<tr>
								<th class="th-lg">#</th>
								<th class="th-lg">Día</th>
								<th class="th-lg">Hora</th>
								<th class="th-lg">Estatus</th>
								<th class="th-lg"></th>
							</tr>
						</thead>
						<!--Table head-->

						<!--Table body-->
						<tbody>
							<tr th:each="cita: ${citas}">
								<td th:text="${cita.id}">#</td>
								<td th:text="${cita.dia}">Dia</td>
								<td th:text="${cita.hora}">Hora</td>
								<td th:text="${cita.activo}">Estatus</td>
								<td>
									<button type="button" class="btn btn-outline-primary">Editar</button>
								</td>

							</tr>

						</tbody>
						<!--Table body-->

					</table>
					<!--Table-->







				</div>
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading" align="center">
							<font size="4.5"><span
								class="glyphicon glyphicon-calendar"><strong>
										Agregar cita</strong></span></font>
						</div>

						<div class="panel-body">
							<form id="newHorario-form">

								<div class="form-group">
								<p id="citaMSG"></p>
								<label for="selectDia"><strong>Fecha</strong></label>
									<input type="text" class="form-control" name="fecha"
										placeholder="AAAA-MM-DD" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" title="Formato AAAA-MM-DD ejemplo: 2018-12-24" th:required="required"/>
										
										<button type="button" id="btnTraeHorarios" class="btn btn-info">Buscar horarios</button>
								</div>



								<div class="form-group">
									<label for="selectDia"><strong>Día</strong></label> <select
										class="form-control" name="selectDia">
										<option value="Lunes">Lunes</option>
										<option value="Martes">Martes</option>
										<option value="Miercoles">Miercoles</option>
										<option value="Jueves">Jueves</option>
										<option value="Viernes">Viernes</option>
										<option value="Sabado">Sabado</option>
										<option value="Domingo">Domingo</option>
									</select>
								</div>


								<div class="form-group">
									<label for="hora"><strong>Hora:</strong></label> <input
										type="text" class="form-control" name="hora"
										pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
										title="Formato 24 horas valido  HH:MM ejemplo: 15:30 ó 09:30"
										placeholder="HH:MM" th:required="required" />
								</div>



								<button type="submit" id="btnHoraAlta" class="btn btn-info">
									<span class="glyphicon glyphicon-ok"></span> Enviar
								</button>

							</form>
						</div>
					</div>
				</div>


			</div>
		</div>





	</div>



</body>
</html>