.fondoMenu {
	text-align: right;
	background: #50B3E8;
	
}

.botonesMenu{
	
	margin-left: 10px;
	margin-right: 10px;
	
}

.anchoheaderhref {
	padding: 5px 10px;
	background: #50B3E8;
	width:250px;
	height:30;
}

.anchobotonmenu{
	padding: 5px 10px;
	
	width:130px;
	height:30;
}

.topMenu{
	padding: 50px;
}